- name: Arch Linux Setup
  hosts: arch

  roles:
    - role: packages # install pacman packages
    - role: setup # clone dofiles, compile & build programms
    - role: services # start and manage services
