- name: Ensure dotfiles are cloned to the home directory.
  ansible.builtin.git:
    repo: https://github.com/ckiri/dotfiles
    dest: "~/.dotfiles"
    version: main
    force: true

- name: Ensure login shell is set to `/bin/zsh`.
  ansible.builtin.command: usermod --shell /usr/bin/zsh $USER
  become: true
  changed_when: false

- name: Ensure necessary directories exist.
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "~/.cache/weather"
    - "~/.cache/zsh"

- name: Ensure necessary files exist.
  ansible.builtin.file:
    path: "{{ item }}"
    state: touch
  loop:
    - "~/.cache/weather/weather"
    - "~/.cache/zsh/history"

- name: Ensure symlinks are set.
  ansible.builtin.shell: "stow {{ item }}"
  args:
    chdir: "~/.dotfiles"
  loop:
    - foot
    - kanshi
    - fontconfig
    - scripts
    - sway
    - swaylock
    - tmux
    - zathura
    - zsh

- name: Deny everything and enable UFW
  community.gerneral.ufw:
    state: enabled
    rule: allow
    port: ssh
